<nav class="navbar navbar-light">
  <a class="navbar-brand" style="margin: auto">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_map_of_Bosnia_and_Herzegovina.svg/2000px-Flag_map_of_Bosnia_and_Herzegovina.svg.png"
      width="30" height="30" alt="">
    <b style="padding-left: 10px"> PRENOS </b>
  </a>
</nav>

<div class="app app__base container" *ngIf="loadFinish">
  <div class="app__content row">
    <div class="col-12 col-md-12">
      <h4>Last 7 days - Matchmaking Stats</h4>
      <label>Sort by:</label>
      <select class="custom-select"
              [(ngModel)]="selectedFilter"
              (ngModelChange)="filterChanged(selectedFilter)">
        <option value="bestPerformance" selected>Best performance</option>
        <option value="matchesPlayed">Matches played</option>
        <option value="kills">Total kills</option>
        <option value="avgKills">Avg kills</option>
        <option value="assists">Total assists</option>
        <option value="avgAssists">Avg assists</option>
        <option value="headshots">Total headshots</option>
        <option value="avgHeadshots">Avg headshots</option>
        <option value="MVPs">Total MVPs</option>
        <option value="avgMVPs">Avg MVPs</option>
        <option value="tripleKills">Total Triple kills</option>
        <option value="avgTripleKills">Avg Triple kills</option>
        <option value="quadroKills">Total Quadro kills</option>
        <option value="avgQuadroKills">Avg Quadro kills</option>
        <option value="avgPentaKills">Avg Penta kills</option>
      </select>
    </div>

    <div class="col-12">
      <div class="player__box" style="cursor: pointer"
           *ngFor="let player of players; let i = index"
           (click)="openProfile(player.faceit_url)">
        <div class="player__profile col-12 col-md-5 pr-0 pl-0" [ngClass]="{ 'first': (i + 1) === 1}">
          <div class="player__avatar">
            <span class="badge badge-pill" style="background-color: #FFD700" *ngIf="(i + 1) === 1">{{ i + 1}}</span>
            <span class="badge badge-pill" style="background-color: darkgray" *ngIf="(i + 1) > 1"> {{ i + 1}}</span>

            <img class="player__image" src="{{player.image}}"/>
          </div>
          <h4 class="player__name" target="_blank">{{ player.nickname }}</h4>

          <h6 class="card-subtitle mb-2">
            Matches played: {{ player.stats.matchesPlayed }}
          </h6>
        </div>
        <div class="player__stats col-12 col-md-7">
          <ul class="list-group list-group-flush row">
              <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'kills'}">
              <b>Kills: </b> <span>{{ player.stats.kills}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'avgKills'}">
              <b>Avg Kills: </b> <span>{{ player.stats.avgKills | number : '1.2-2'}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'assists'}">
              <b>Assists: </b> <span>{{ player.stats.assists}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'avgAssists'}">
              <b>Avg Assists: </b> <span>{{ player.stats.avgAssists | number : '1.2-2'}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'headshots'}">
              <b>Headshots: </b> <span>{{ player.stats.headshots}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'avgHeadshots'}">
              <b>Avg Headshots: </b> <span>{{ player.stats.avgHeadshots | number : '1.2-2'}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'MVPs'}">
              <b>MVPs: </b> <span>{{ player.stats.MVPs}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'avgMVPs'}">
              <b>Avg MVPs: </b> <span>{{ player.stats.avgMVPs | number : '1.2-2'}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'tripleKills'}">
              <b>Triple kills: </b> <span>{{ player.stats.tripleKills}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'avgTripleKills'}">
              <b>Avg Triple kills: </b> <span>{{ player.stats.avgTripleKills | number : '1.2-2'}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'quadroKills'}">
              <b>Quadro kills: </b> <span>{{ player.stats.quadroKills}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'avgQuadroKills'}">
              <b>Avg Quadro kills: </b> <span>{{ player.stats.avgQuadroKills | number : '1.2-2' }}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'pentaKills'}">
              <b>Penta kills: </b> <span>{{ player.stats.pentaKills}}</span>
            </li>
            <li class="list-group-item col-6" [ngClass]="{'highlight-filter': this.selectedFilter === 'avgPentaKills'}">
              <b>Avg Penta kills: </b> <span>{{ player.stats.avgPentaKills | number : '1.2-2'}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!loadFinish">
  <div class="row" style="margin-top: 100px">
    <div class="col-12">
      <div class="d-flex m-auto justify-content-center">
        <img class="spinner"
             style="width: 150px; height: 150px"
             src="https://alijamujanovic18.files.wordpress.com/2015/07/flag_map_of_bosnia_and_herzegovina-svg.png?w=816">
      </div>
    </div>
  </div>
</div>
