@import "~bootstrap";

.navbar {
  background: white;
  box-shadow: 0 1px 5px grey;
  color: #002395;
}

.app {
  &__base {
    background: white;
    height: 100%;
    padding-top: 30px;
  }

  &__content {

  }

  .player {
    &__box {
      box-shadow: 5px 6px 6px grey;
      background-color: #fff;
      background-image: linear-gradient(to left bottom, #0e1118, #282e3a, #424c5f, #5d6e87, #7a91b1);
      display: -ms-flexbox;
      display: flex;
      top: 0;
      margin-bottom: 30px;
      color: white;
      height: auto;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    &__avatar {
      height: 200px;
      overflow: hidden;
      background-image: url("./../assets/card-bg.jpg");
      background-size: cover;
      padding: 15px;
      border-bottom: 2px solid white;

      @include media-breakpoint-up(md) {
        border-right: 2px solid white;
      }
    }

    &__image {
      border-radius: 50%;
      height: 100%;
      max-width: 200px;
      border: 2px solid white;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    &__profile {
      text-align: center;
    }

    &__name {
      padding-top: 30px;
    }
  }
}

// Override
.list-group {
  flex-direction: row;
  max-height: 315px;
  overflow: hidden;
  overflow-y: scroll;

  li {
    background: transparent;

    span {
      display: block;
    }
  }
}

.custom-select {
  border: 2px solid #002395;
  border-radius: 0;
  margin-bottom: 15px;
}

.badge {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  vertical-align: center;
  color: white;
  font-size: 40px;
  left: 10px;
  top: 10px;
  position: absolute;
}

.highlight-filter {
  font-size: 20px;
  font-weight: bold;
  color: gold;
}
