/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";

body {
  font-family: 'Roboto', serif;
  font-size: 18px;
  background-image: url("https://wallpaperaccess.com/full/712542.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

@keyframes pulse {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.spinner {
  display: block;
  animation-name: pulse;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
